
.body{
  background-color: rgb(233, 229, 230);
}
.task {
  font-family: sans-serif;
  color: rgba(51, 45, 45, 0.9);
  font-size: 25px;
  text-align: center;
}

.header {
  display: grid;
  width: 100%;
  /* padding: 10px;
  text-align: center; */
  /* color: white; */

}

.logout-h{
  display: flex;
  margin: 10%;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  background: rgb(190, 171, 153);

}

.logout-b {
  /* grid-column: 3; */
  display: flex;
    margin: 0 0 0 auto;
}

.add-task {
  display: flex;
  justify-content: center;
  margin: 10px 200px 10px 300px;
  position: relative;
  font-size: 10px;
  padding: 15px;
  border-radius: 20px;
-moz-box-shadow:    inset 0 0 10px hsl(67, 19%, 18%);
  -webkit-box-shadow: inset 0 0 10px hsl(67, 19%, 18%);
  box-shadow:         inset 0 0 10px hsl(67, 19%, 18%); 
}

.main-task-cont {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 200px 10px 400px;
  font-size: 15px;
  padding: 15px;
  border-radius: 20px;
-moz-box-shadow:    inset 0 0 10px hsl(67, 19%, 18%);
  -webkit-box-shadow: inset 0 0 10px hsl(67, 19%, 18%);
  box-shadow:         inset 0 0 10px hsl(67, 19%, 18%); 
}

.update-task {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 200px 10px 400px;
  font-size: 15px;
  padding: 15px;
  border-radius: 20px;
-moz-box-shadow:    inset 0 0 10px hsl(67, 19%, 18%);
  -webkit-box-shadow: inset 0 0 10px hsl(67, 19%, 18%);
  box-shadow:         inset 0 0 10px hsl(67, 19%, 18%); 

}

.main-login-f {
  font-size: 15px;
  height: 100%;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 0.25fr);
}

.login-f {
grid-column: 2;
grid-row: 2;
text-align: center;
box-sizing: border-box;
border-radius: 20px;
/* margin: auto; */
width: 100%;
padding: 20px;
-moz-box-shadow:    inset 0 0 10px hsl(67, 19%, 18%);
-webkit-box-shadow: inset 0 0 10px hsl(67, 19%, 18%);
box-shadow:         inset 0 0 10px hsl(67, 19%, 18%); 
 }


 .register-p {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
 }

 .logo {
  text-align: center;
  font-size: 25px;
  color: rgb(71, 35, 129);
 }

.sign-in {
  font-family: sans-serif;
  color: rgba(51, 45, 45, 0.9);
  font-size: 30px;
 }

 span.green{
color: rgb(103, 104, 45);
 }

 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #333;
  font-size: 13px;
  text-align: center;
  /* vertical-align: bottom; */
  /* margin-bottom: 2em; */
}

.footer:before {
  clear: both;
  display: block;
  height: 120px;
  min-height: 120px;
}

.search {
  /* display: flex;
  justify-content: center; */
  /* margin: 10px 200px 10px 300px; */
  /* position: relative; */
  /* font-size: 10px; */
  padding: 15px;
    margin-left: 170px;
    padding: 0px 10px;
    /* padding: 0.5em;
    margin: 5% 0; */
}

.notes {
    margin-left: 170px;
    padding: 0px 10px;
    border-radius: 20px; */ 
     padding: 0.5em;
    margin: 5% 0; */
     -moz-box-shadow:    inset 0 0 10px hsl(67, 19%, 18%);
    -webkit-box-shadow: inset 0 0 10px hsl(67, 19%, 18%);
    box-shadow:         inset 0 0 10px hsl(67, 19%, 18%);
}

.sidenav {
  /* margin-top:70px; */
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#706c7d;
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav ul li { 
  /* margin-top: 100px; */
  color: rgba(51, 45, 45, 0.9);
  list-style:none;
  padding:15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
  display: block;
}

.sidenav ul:hover, li:hover {
  color: #f1f1f1;
}


 .sidenav a {
  /* margin-top: 100px; */
  padding: 0px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: sans-serif;
  color: #242020;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.register {
  display: flex; 
  justify-content: center;
  margin:70px 190px auto 190px;
  /* margin-left: 170px;
  margin-right: 170px; */
}

/* .search {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
} */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 